* {
    background: lightsteelblue;
    box-sizing: border-box;
    /*text-align: center;*/
}

#Title {
    font-family: Verdana, Arial, sans-serif;
    color: blue;
}

footer {
    position: absolute;
    padding: 5px;
    bottom: 0;
}

input[type=text]{
    background-color: white;
    margin: 4px;
    border-radius: 4px;
    border: 2px;
    outline: none;
}

input[disabled] {
    background-color: slateGrey;
}

.smalltxt{
    width: 30px;
}

.medtxt {
    width: 75px;
}

#datatype {
    background-color: white;
}

button {
    text-align: center;
    font-size: 18px;
    margin: 10px 2px;
    color: white;
    background-color: DarkSlateGray;
    padding: 12px 40px;
    border-radius: 4px;
    border: none;
    outline: none;
}

button:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

button:active {
  background-color: #3e8e41;
  transform: translateY(2px);
}

textarea {
  width: 50%;
  height: 200px;
  padding: 8px 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: white;
  resize: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: small;
  width: 80px;
  background-color: #555;
  color: white;
  text-align: center;
  padding: 4px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -40px;

  opacity: 0;
  transition: opacity 0.1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}
