* {
    background: lightsteelblue;
    box-sizing: border-box;
}

#Title {
    font-family: Verdana, Arial, sans-serif;
    color: blue;
}

footer {
    position: absolute;
    padding: 5px;
    bottom: 0;
    text-align: center;
}

input[type=text]{
    background-color: white;
    margin: 4px;
    border-radius: 4px;
    border: 2px;
    outline: none;
}

input[disabled] {
    background-color: slateGrey;
}

.smalltxt{
    width: 30px;
}

.medtxt {
    width: 75px;
}

#datatype {
    background-color: white;
}

button {
    text-align: center;
    font-size: 18px;
    margin: 10px 2px;
    color: white;
    background-color: DarkSlateGray;
    padding: 12px 40px;
    border-radius: 4px;
    border: none;
    outline: none;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  transform: translateY(2px);
}

textarea {
  width: 50%;
  height: 200px;
  padding: 8px 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: white;
  resize: none;
}
