* {
    background: lightsteelblue;
    box-sizing: border-box;
    font-family: Raleway;
}

#Title {
    font-family: Verdana;
    color: blue;
}

html, body {
  height: 100%;
  margin: 0px, 15px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -40px;
}

.footer,
.push {
  height: 40px;
}

input[type=number]{
    background-color: white;
    margin: 4px;
    border-radius: 4px;
    border: 2px;
    outline: none;
}

input[type=text] {
    background-color: white;
    margin: 4px;
    border-radius: 4px;
    border: 2px;
    outline: none;
}

input[disabled] {
    background-color: slateGrey;
}

input:invalid {
    background-color: pink;
}

/* Removes Arrows for input=number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.smalltxt{
    width: 30px;
}

.medtxt {
    width: 75px;
}

#datatype {
    background-color: white;
}

button {
    text-align: center;
    font-size: 18px;
    margin: 10px 2px;
    color: white;
    background-color: DarkSlateGray;
    padding: 12px 40px;
    border-radius: 4px;
    border: none;
    outline: none;
}

button:hover {
    background-color: #3e8e41;
    cursor: pointer;
}

button:active {
  background-color: #3e8e41;
  transform: translateY(2px);
}

.collapsible {
  background-color: slategrey;
  color: white;
  cursor: pointer;
  padding: 8px;
  width: 30%;
  border: none;
  text-align: left;
  outline: none;
  font-size: small;
}

.collapsible:hover, .collapsible:active {
  background-color: DarkSlateGray;
}

.collapsible:after {
  content: '\02C5';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: lightsteelblue;
}

textarea {
  width: 50%;
  height: 200px;
  padding: 8px 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: white;
  resize: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: small;
  width: 80px;
  background-color: #555;
  color: white;
  text-align: center;
  padding: 4px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -40px;

  opacity: 0;
  transition: opacity 0.1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltipR {
  position: relative;
  display: inline-block;
}

.tooltipR .tooltiptextR {
  visibility: hidden;
  font-size: small;
  width: 180px;
  background-color: #555;
  color: white;
  text-align: center;
  padding: 4px 2px;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: -2px;
  left: 107%;


  opacity: 0;
  transition: opacity 0.1s;
}

.tooltipR:hover .tooltiptextR {
  visibility: visible;
  opacity: 1;
}

.tooltipR .tooltiptextR::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}
